<a href="https://colab.research.google.com/github/sravanivangala/sravani_INFO5731_Fall2021/blob/main/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (09/01/2021, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [5]:
# write your answer here
sample_string = input("enter a string: ")
print(len(sample_string))

enter a string: why
3

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [51]:
# write your answer here
sample_string = "alliswell" 
freq = {}
for i in sample_string:
    if i in freq:
        freq[i] += 1
    else:
        freq[i] = 1
print ("Count of each character in given string is :\n ")
print (freq)

Count of each character in given string is :

{'a': 1, 'l': 4, 'i': 1, 's': 1, 'w': 1, 'e': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [14]:
# write your answer here
sample_list = [31, 15, 13, 28, 27]
total = sum(sample_list)
print("Sum of all elements in given list: ", total)

Sum of all elements in given list:  114

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [16]:
# write your answer here
def char_replace(str1):
  char = str1[0]
  str1 = str1.replace(char, '$')
  str1 = char + str1[1:]
  return str1

print(char_replace('restart'))

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [25]:
# write your answer here
a = input("enter value for a : ")
b = input("enter value for b : ")
s = 3.14 * pow (1 + int(a)/int(b) , 3)
print(" the value of S is : ")
print(s)

enter value for a : 3
enter value for b : 4
 the value of S is :
16.8284375

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [44]:
# write your answer here
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4 = {}
for d in (dic1, dic2, dic3): dic4.update(d)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [29]:
# write your answer here
tuple1 = ("c", "0", "6", "r", ".", "f", "a")
x1 = input("enter a character to check in the tuple: ")
print(x1 in tuple1)

enter a character to check in the tuple: a
True

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [26]:
# write your answer here
set1 = {23, 56, 14, 8, 90, 45}
print("the max value in the given set is: ")
print(max(set1))
print("the min value in the given set is: ")
print(min(set1))

the max value in the given set is:
90
the min value in the given set is:
8

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
           'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091','py0080','ttp0037','hc0439','ri0094','pk0339', 'hn0145','mn0426']

In [ ]:
# write your answer here
studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159','msp0174','dd0420','ds0761',
                'rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091','py0080','ttp0037','hc0439','ri0094','pk0339', 'hn0145','mn0426']

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [41]:
# write your answer here
a1 = [1, 2, 3, 4, 4, 7, 8]
x = 0     
print("Duplicate elements in the given array : ")    
for i in range(0, len(a1)):    
    for j in range(i+1, len(a1)):    
        if(a1[i] == a1[j]):    
            print(a1[j])
            x +=1
if(x==0):
  print("-1")

Duplicate elements in the given array :
4

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [43]:
# write your answer here
from datetime import date, timedelta

def allsundays(year):
   d = date(year, 1, 1) # January 1st
   d += timedelta(days = 6 - d.weekday())  # First Sunday
   while d.year == year:  #making sure the dates are in the same year
      yield d
      d += timedelta(days = 7)  #yielding all sundays

for d in allsundays(1964):
   print(d)

1964-01-05
1964-01-12
1964-01-19
1964-01-26
1964-02-02
1964-02-09
1964-02-16
1964-02-23
1964-03-01
1964-03-08
1964-03-15
1964-03-22
1964-03-29
1964-04-05
1964-04-12
1964-04-19
1964-04-26
1964-05-03
1964-05-10
1964-05-17
1964-05-24
1964-05-31
1964-06-07
1964-06-14
1964-06-21
1964-06-28
1964-07-05
1964-07-12
1964-07-19
1964-07-26
1964-08-02
1964-08-09
1964-08-16
1964-08-23
1964-08-30
1964-09-06
1964-09-13
1964-09-20
1964-09-27
1964-10-04
1964-10-11
1964-10-18
1964-10-25
1964-11-01
1964-11-08
1964-11-15
1964-11-22
1964-11-29
1964-12-06
1964-12-13
1964-12-20
1964-12-27