<a href="https://colab.research.google.com/github/sravanivangala/sravani_INFO5731_Fall2021/blob/main/sravani_INFO5731_Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [14]:
# Your code here

import random
#generating 12 randoms numbers
my_random_list = random.sample(range(1,101), 12) 
#printing the list of 12 random numbers generated from above function
print("list of 12 random numbers between 1 and 100: ", my_random_list)
#sorting and printing the ascending order of the list
print("list sorted in ascending order: ", sorted(my_random_list))
#sorting and printing the descending order of the list
print("list sorted in descending order: ", sorted(my_random_list, reverse = True))

list of 12 random numbers between 1 and 100:  [50, 43, 23, 71, 89, 6, 55, 24, 73, 94, 86, 57]
list sorted in ascending order:  [6, 23, 24, 43, 50, 55, 57, 71, 73, 86, 89, 94]
list sorted in descending order:  [94, 89, 86, 73, 71, 57, 55, 50, 43, 24, 23, 6]

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [ ]:
# Your code here

import string
import re

#taking two sentence inputs from the user
string1 = input("Enter first string: ")
string2 = input("Enter second string: ")

#splitting all the words and punctuations from the sentence
x = re.findall(r"[\w']+|[.,!?;:]", string1)
y = re.findall(r"[\w']+|[.,!?;:]", string2)

#printing the lists with all words in the sentences
print("First list:",x)
print("Second list:",y)

#printing the common words in the two sentences
print("\nFollowing are common")
for word1 in x:
  for word2 in y:
    if word1.lower() == word2.lower():
      print(word1)

#removing punctuations and printing back the common words
print("\nFollowing are common without punctuation")
for word1 in x:
  for word2 in y:
    if word1.lower() == word2.lower() and word1 not in string.punctuation:
      print(word1)

#counting the occurences of all vowels
vowels = {'a':0, 'e':0, 'i':0, 'o':0, 'u':0}
for letter in string1:
  if letter.lower() in vowels:
    vowels[letter.lower()] += 1

for letter in string2:
  if letter.lower() in vowels:
    vowels[letter.lower()] += 1

#printing the frequency of occurence of vowels
print("\nVowel frequency: ",vowels)

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [18]:
# Your code here
pi = 3.141592653  #defining pi value
print("r    v \n")
for r in range(1,11) :
  v = 4.0/3.0*pi* float(r)**3   #calculating volume
  print(r,"  ", v, "\n")  #printing the results

r    v

1    4.188790204

2    33.510321632

3    113.097335508

4    268.082573056

5    523.5987755

6    904.778684064

7    1436.755039972

8    2144.660584448

9    3053.628058716

10    4188.790204

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://github.com/unt-iialab/info5731-fall2021/blob/main/assignments/Assignment1_denton_housing.csv) included with this assignment. The file [Assignment1_denton_housing.csv](https://github.com/unt-iialab/info5731-fall2021/blob/main/assignments/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [21]:
#uploading the csv file from local drive
from google.colab import files


uploaded = files.upload()

Saving Assignment1_denton_housing.csv to Assignment1_denton_housing.csv

In [29]:
import pandas as pd
import io

 # reading the uploaded file 
df = pd.read_csv(io.BytesIO(uploaded['Assignment1_denton_housing.csv']))
#print(df)

In [27]:
# Your code here

import pandas as pd
import statistics

#reading the csv file
house = pd.read_csv('Assignment1_denton_housing.csv')
#print('Shape: ',house.shape)
house.head()

#question 4.1

# number of occupied houses
occupied_houses = house[house['title_field'] == 'Occupied Housing Units'].sort_values(by=['year'])

# the difference in the number of Occupied Housing Units from year to year
diff_house = [list(occupied_houses['value'].values)[loop1] - list(occupied_houses['value'].values)[loop1+1]\
              for loop1 in range(len(occupied_houses)-1)]
diff_house = sorted(diff_house)    # sorting in ascending order
diff_house

[-5091, -2622, -1565, -1404, 303, 795]

In [42]:
#question 4.2

unique_years = sorted(list(house['year'].unique()))   #list of unique year numbers

# number of occupied houses
occupied_houses = house[house['title_field'] == 'Occupied Housing Units'].sort_values(by=['year'])

# number of vacant houses
vacant_houses = house[house['title_field'] == 'Vacant Housing Units'].sort_values(by=['year'])

# calculating the percentage of vacant and occupied housing units in each year. 
new_house_df = pd.DataFrame()
new_house_df['year'] = unique_years
new_house_df['Vacant units'] = vacant_houses['value'].values
new_house_df['Occupied units'] = occupied_houses['value'].values
new_house_df['% of Vacant units'] = [(new_house_df['Vacant units'][loop1] * 100) /\
                                           (new_house_df['Vacant units'][loop1] + new_house_df['Occupied units'][loop1])\
                                           for loop1 in range(len(new_house_df))]
new_house_df['% of Occupied units'] = [(new_house_df['Occupied units'][loop1] * 100) /\
                                           (new_house_df['Vacant units'][loop1] + new_house_df['Occupied units'][loop1])\
                                           for loop1 in range(len(new_house_df))]
new_house_df

   year  Vacant units  Occupied units  % of Vacant units  % of Occupied units
0  2008          4483           36711          10.882653            89.117347
1  2009          3583           35916           9.071116            90.928884
2  2010          3635           41007           8.142556            91.857444
3  2011          4213           40704           9.379522            90.620478
4  2012          3013           42108           6.677600            93.322400
5  2013          4215           43673           8.801788            91.198212
6  2014          2814           46295           5.730111            94.269889

In [46]:
#question 4.3

# the highest number of vacant housing units
max_vacant_houses = max(house[house['title_field'] == 'Vacant Housing Units'].value)
vacant_houses = vacant_houses[vacant_houses['value'] == max_vacant_houses]
print(vacant_houses)


# the highest number of Occupied housing units
max_occupied_houses = max(house[house['title_field'] == 'Occupied Housing Units'].value)
occupied_houses = occupied_houses[occupied_houses['value'] == max_occupied_houses]
print(occupied_houses)

    year           title_field  value
19  2008  Vacant Housing Units   4483
   year             title_field  value
2  2014  Occupied Housing Units  46295

In [40]:
#question 4.4
#calculating harmonic me
print("harmonic mean : ", statistics.harmonic_mean(list(house[house['title_field'] == 'Total Housing Units'].value)))

harmonic mean :  44398.28543969185